@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Neucha&family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway:wght@400;500&family=Roboto:wght@900&display=swap');
$primery-color: #ffd966;
$title-color: #ff8b70;
$dark-gray:#434343;
$text-color:#65c7be;
$secondary-color:#f3f3f3;
$icon-color: #65c7be;
$ff: 'Pangolin', sans-serif;
$text-ff: 'Barlow', sans-serif;
$title-ff: 'Roboto', sans-serif;
$b-width: 2px;
$border: $b-width solid $primery-color;