@import 'animate';
@import 'normalize';
@import 'veriables';
@import 'mixins';

*{
    box-sizing: border-box;
}
a, button{
    transition: all .3s ease-in-out;
}
html{
    scroll-behavior: smooth;
    font-size: 10px;
}
body{
    font-family: $ff;
    color: $dark-gray;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}
footer{
    background-color: $secondary-color;
    // background-image: url('../img/adress.png');
    // background-position: left;
    // background-repeat: no-repeat;
    // background-size: contain;
    
}

h1{
    font-size: 9.6rem;
    max-width: 500px;
    letter-spacing: 1rem;
    @include media(990px) {
        font-size: 7rem;
    }
    @include media(760px) {
        font-size: 5rem;
    }   
}

h2{
    margin: 0;
}
h3{
    font-size: 4rem;
    margin: 0 0 50px 0;
    text-transform: uppercase;
}
h4{
    font-size: 3rem;
    margin-top: 50px;

}

.navi{
    // opacity: 0;
    position: fixed;
    background-color: $secondary-color;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-250%, 0%);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    transition: all .5s ease-in-out;
    @include media(990px) {
        font-size: 3rem;
    }
    &__items{
        padding: 30px;
        list-style: none;
        border-bottom: $b-width solid $dark-gray;
        margin: 0;
    }
    &__item{
        text-align: center;
        
    }
    &__item a{
        color: $dark-gray;
        text-decoration: none;
        @include hover{
            color: $title-color;
        }
    }
}

#toggler, #toggler-input{
    display: none;
}
#toggler{
    display: block;
    position: absolute;
    z-index: 11;
}

#toggler-input:checked ~ nav{
    transform: translate(-50%, -50%);
    opacity: 1;
    
}
// #toggler-input:checked body{
//     display: none;
//     overflow: hidden;
// }


#toggler-input:checked ~ #toggler{
    position: fixed;
}
#toggler img{
    position: absolute;
    cursor: pointer;
    left: 0;
    top: 0;
    transform: translate( 30%, 30%);
    transition: all .3s ease-in-out;
    padding: 10px;
    @include hover{    
         transform: translate( 40%, 40%);
    }
}

.socials{
    list-style: none;
    padding: 0;
    margin: 0;
    @include media(576px) {
        margin: 10px;

    }
    
}
.social{
    display: inline-block;
    font-size: 3.2rem;
    &__link{
        display: block;
        text-decoration: none;
        color: #fff;
        background-color: $dark-gray;
        width: 55px;
        height: 55px;
        text-align: center;
        line-height: 55px;
        border-radius: 50%;
        border: $b-width solid $dark-gray;
        @include hover{
            background-color: $title-color;
            border-color: $title-color;

        }
    }    
}
.bg{
    padding: 5px 0 5px;
    background-color: $secondary-color;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    &--about{
        background-image: url('../img/back222.jpg');
        @include media(760px) {
            background-color: $title-color;
            background-image: none;
        }
    }
    &--header{
        background-image: url('../img/back4.jpg');
    }
    &--works{
        background-image: url('../img/back1.jpg');
    }
    &--people{
        background-color: $title-color;
        @include media(990px) {
            min-height: 150vh;            
        }
        @include media(760px) {
            min-height: 200vh;            
        }
    }
    &--info{
        background-image: url('../img/back3.jpg');
    }
    &--sphere{
        background-color: $title-color;
    }
    &--star{
        background-color: $text-color;
    }
    &--white{
        background-color: $secondary-color;
        
    }
    &--yellow{
        background-color: $primery-color;
        
    }
}
.tittle{
        background-image: url('../img/head.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: 67%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        @include media(760px) {
            left: 50%;
        }  
}

.caption{
    display: block;
    text-transform: uppercase;
    color: $primery-color;
    font-size: 6.4rem;
    letter-spacing: 1.5px;
    @include media(990px) {
        font-size: 5rem;
    }
    @include media(576px) {
        font-size: 4rem;
    }
    &__about{
        font-family: $text-ff;
        font-size: 2.4rem;
        color:  $secondary-color;
        // display: block;
        }
    &--right{
        color: $dark-gray;
        text-align: left;
    }
    &--center{
        text-align: center;
    }
    &--works{
        text-align: right;
        margin: 70px 0 0 0;

    }
    &--m{
        margin: 70px 0 20px 0;
    }
    &--star{
        color: $dark-gray;
        margin: 80px auto 100px;
        @include media(576px) {
            margin: 50px auto;
        }
    }

    
}
.box{   
    display: flex;
    align-items: center;
    &--middle{
        height: 100vh;
    }
    &__info{
        max-width: 40vw;
        @include media(990px) {
            max-width: 60vw;
        }
        @include media(760px) {
            max-width: 90vw;
            
        }   
    }
    &__item{
        max-width: 35vw;  
        @include media(990px) {
            max-width: 50vw;
        }
        @include media(760px) {
            max-width: 100%;
        }   
    }
    &--rigth{
        justify-content: flex-end;
        height: 100vh;
    }
    &--center{
        justify-content: center;
        align-items: center;
        margin: 20px 0 50px;
        // height: 35vh;
        // max-width: 35vw;        

    }
}
.blockquote{
    position: relative;
    padding: 10px 20px;
    margin: 10px 40px;    
    text-align: left;
}
.blockquote:before,
.blockquote:after {
    position: absolute;
    color: $secondary-color;
    font-size: 10rem;
    font-family: $text-ff;    
}
.blockquote:before {
    content: '“';
    left: -30px;
    top: -5px;
}
.blockquote:after {
    content: '”';
    right: -10px;
    bottom: -1px;
}
.blockquote cite {
    color: $secondary-color;
    font-size: 1.6rem;
    padding-top: 10px;
    display: block;
}

.adr{
    
    position: relative;
}
#map{
    margin: 50px auto;
    height: 500px;
    width: 98vw;
    @include media(990px) {
        width: 90vw;
    }
    @include media(576px) {
        width: 95vw;
        height: 100vh;
    }

}
.adress{
    position: absolute;
    left: 10px;
    top: 50px;    
    font-family: $title-ff;
    font-size: 1.8rem;
    line-height: 1.6;
    background-color: #fff;
    margin: 10px 5px;
    padding: 15px;
    border-radius: 2px; 
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; 
    max-width: 200px;
    
    a{
        font-weight: 700;
        text-decoration: none;
        color: $dark-gray;
        @include hover{
            color: $title-color;
            transition: all .3s ease-in-out;
        }
    }
    
}
.swiper-container {
    width: 60vw;
    height: 85vh;
    @include media(768px) {
        width: 100%;
    }
}
:root{
    --swiper-theme-color: #ffd966;
    --swiper-navigation-size: 85px;

}


.swiper-slide {
    text-align: center;
    font-size: 2.4rem;
    background: transparent;
    padding: 0 100px;
    @include media(576px) {
        padding: 0;
        margin: 0;
    }

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper-button-next{
    transition: all .2s ease-in-out;
    @include media(576px) {
        display: none;        
    }
}
.swiper-button-prev{
    transition: all .2s ease-in-out;
    @include media(576px) {
        display: none;        
    }
}
.swiper-button-next:hover{
      transform:scale(1.2);
      transition: all .3s ease-in-out;

  }
.swiper-button-prev:hover{
    transform:scale(1.2);
    transition: all .3s ease-in-out;

}
.span-slider{
    font-family: $text-ff;
}


.people{
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}


.person{
    padding: 20px 40px;
    text-align: center;
    
    color: $dark-gray;
    @include media(990px) {
        margin: 40px 10px;
    }
    &__img{
        width: 240px;
        height: 240px;
        overflow: hidden;
        position: relative;
        border: 1px solid $title-color;
        border-radius: 50%;
        margin: 0 auto;
    }
    &__img img{
        width: 100%;
        min-height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__name{
        font-size: 3.8rem;
        margin: 0 0 8px 0;
    }
    
    &__text{
        font-size: 2rem;
        font-family: $text-ff;
        

    }
    &__box{
        position: relative;
    }
    &__bg{
        // background-image: url(../img/section.png);
        // background-position: center;
        // background-repeat: no-repeat;
        // background-size: auto auto;
        position: absolute;
        z-index: 1;

    }
    &__bgimg{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -60%);
        // transform: rotate(15deg);
        z-index: -1;
    }

}
.spheres{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    // display: grid;
    // margin: 0 auto;
    // grid-template-columns: repeat(3, 1fr);
    // @include media(992px) {
    //     grid-template-columns: repeat(2, 1fr);
        
    // }
    // @include media(576px) {
    //     grid-template-columns: 1fr;
        
    // }
}

.sphere{
    margin: 5px 10px;
    padding: 5px;
    transition: all .3s ease-in-out;
    height: 220px;
    width: 300px;
    position: relative; //Для svg
    @include media(576px) {
        margin: 10px;        
    }
    &__ico{
    position: relative; //Для звезд

    }
    &__img{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        }
    &__svg{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        fill: $dark-gray;
        stroke: $dark-gray;
    }
    &__cap{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,0%);

        font-size: 2.3rem;
        width: 300px;
        text-align: center;
        @include media(992px) {
            font-size: 2rem;
            
        }
    }
    &__star{
        font-size: 3.2rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-80%);
        color: $secondary-color;
        
    }
    @include hover{
        transform: scale(1.2);
        cursor: pointer;
        transition: all .3s ease-in-out;

    }

}
.stars{
    margin: 0 auto;
    // max-width: 760px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 270px;
    &--mw{
        max-width: 700px;
    }
    @include media(576px) {
        grid-template-columns: 1fr;
        
    }
    
}

.star{
    text-align: center;
    margin: 20px 0;

    &__ico{
        position: relative;
    }
    &__img{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    
    &__text{
        font-size: 1.6rem;
        font-family: $text-ff;
    }
    &__cap{
        font-size: 3.2rem;
        position: absolute;
        left: 50%;
        top: 50%;
        color: $dark-gray;
        transform: translate(-40%,-50%);
    }
    
}
.animals{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: $secondary-color;
    @include media(768px) {
        flex-direction: column;
    }
}

.anim{
    width: 50%;
    padding: 10px;
    height: 520px;
    background-image: url('../img/raccoon.png');
    background-repeat: no-repeat;
    background-size: auto, auto;
    background-position: center;
    text-align: center;
    padding-left: 50px;
    // color: $secondary-color;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    @include media(768px) {
    width: 70%;
    }
    @include media(600px) {
        background-image: none;
        width: 100%;
        height: 100%;
        padding-left: 0;
    }
        
    &--cat{
        background-image: url('../img/cat.png');
        padding-left: 0;
        @include media(600px) {
            background-image: none;
        }
    }
    &__text{
            font-size: 1.8rem;
            line-height: 1.4;
            font-family: $text-ff;
            display: block;
            max-width: 280px;
            margin: 10px auto;
            text-align: left;
            @include media(600px) {
                max-width: 90%;                
        
            }
            }
}

// .anim{
//     text-align: center;

//     position: relative;
//     color: $secondary-color;
    
//     &__img{
//         position: absolute;
//         left: 50%;
//         top: 65%;
//         transform: translate(-50%,-50%);
//         &--cat{
//             left: 57%;
//         }
//     }
    
//     &__text{
//         font-size: 1.8rem;
//         font-family: $text-ff;
//     }
//     &__cap{
//         font-size: 3.8rem;
//         position: absolute;
//         left: 50%;
//         top: 65%;
//         transform: translate(-40%,-50%);
//     }
    
// }
.wrapper {
    display: grid;
    
    font-size: 1.5rem;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    max-width: 600px;
    outline: solid 2px $dark-gray;
    &__item{
        display: flex;
        outline: solid 1px $dark-gray;
        max-width: 120px;
        padding: 3px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url(../img/tabel2.png);        
        background-repeat: no-repeat;
        background-size: auto, auto;
        background-position: center;
        transition: all .3s ease-in-out;
        &--bg{
        background-image: url(../img/tabel1.png);
        }
        @include hover{
            transform: scale(1.2);
            cursor: pointer;
            outline-color: transparent;
            transition: all .25s ease-in-out;

        }
    }
  }