@import 'animate';
@import 'normalize';
@import 'veriables';
@import 'mixins';

*{
    box-sizing: border-box;
}
a, button{
    transition: all .3s ease-in-out;
}
html{
    scroll-behavior: smooth;
    font-size: 10px;
}
body{
    font-family: $ff;
    color: $dark-gray;
    background-color: $secondary-color;

}
.container{
    max-width: 1170px;
    margin: 0 auto;
}
footer{
    background-color: $secondary-color;
       
}

h1{
    font-size: 10rem;
    max-width: 500px;
    letter-spacing: 1rem;
    @include media(990px) {
        font-size: 7rem;
    }
    @include media(760px) {
        font-size: 5rem;
    }
    @include media(360px) {
        font-size: 4rem;
    }
}

h2{
    margin: 0;
}
h3{
    font-size: 4rem;
    margin: 0 0 50px 0;
    text-transform: uppercase;
}
h4{
    font-size: 3.5rem;
    margin: 25px auto;
    text-transform: uppercase;

}

.navi{
    position: fixed;
    background-color: $secondary-color;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-250%, 0%);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    transition: all .5s ease-in-out;
    @include media(990px) {
        font-size: 3rem;
    }
    &__items{
        padding: 30px;
        list-style: none;
        border-bottom: $b-width solid $dark-gray;
        margin: 0;
    }
    &__item{
        text-align: center;
        
    }
    &__item a{
        color: $dark-gray;
        text-decoration: none;
        @include hover{
            color: $title-color;
        }
    }
}

#toggler, #toggler-input{
    display: none;
}
#toggler{
    display: block;
    position: absolute;
    z-index: 11;
}

#toggler-input:checked ~ nav{
    transform: translate(-50%, -50%);
    opacity: 1;
    
}
// #toggler-input:checked body{
//     display: none;
//     overflow: hidden;
// }


#toggler-input:checked ~ #toggler{
    position: fixed;
}
#toggler img{
    position: absolute;
    cursor: pointer;
    left: 0;
    top: 0;
    transform: translate( 30%, 30%);
    transition: all .3s ease-in-out;
    padding: 10px;
    @include hover{    
         transform: translate( 40%, 40%);
    }
}

.socials{
    list-style: none;
    padding: 0;
    margin: 0;
    @include media(576px) {
        margin: 10px;

    }
    
}
.social{
    display: inline-block;
    font-size: 3.2rem;
    &__link{
        display: block;
        text-decoration: none;
        color: #fff;
        background-color: $dark-gray;
        width: 55px;
        height: 55px;
        text-align: center;
        line-height: 55px;
        border-radius: 50%;
        border: $b-width solid $dark-gray;
        @include hover{
            background-color: $title-color;
            border-color: $title-color;

        }
    }    
}
.bg{
    padding: 5px 0 5px;
    background-color: $secondary-color;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    &--about{
        background-image: url('../img/back222.jpg');
        @include media(760px) {
            background-color: $title-color;
            background-image: none;
        }
    }
    &--header{
        background-image: url('../img/back4.jpg');
    }
    &--works{
        background-image: url('../img/back1.jpg');
    }
    &--people{
        background-color: $title-color;
    
    }
    &--info{
        background-image: url('../img/back3.jpg');
    }
    &--sphere{
        background-color: $title-color;
    }
    &--star{
        background-color: $primery-color;
        }
    &--mini{
        background-image: url('../img/back.jpg');        
    }
    &--minicap{
        background-image: url('../img/back7.jpg');

    }
    // &--yellow{
    //     background-color: $primery-color;
    //     color: $secondary-color;
    // }
    &--speech{
        background-image: url('../img/back6.jpg');
    }
}
.tittle{
        background-image: url('../img/head.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: 67%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        @include media(760px) {
            left: 50%;
        }  
}

.caption{
    display: block;
    text-transform: uppercase;
    color: $primery-color;
    font-size: 6.4rem;
    letter-spacing: 1.5px;
    margin: 70px 0 20px 0;
    
    @include media(990px) {
        font-size: 5rem;
    }
    @include media(576px) {
        font-size: 4rem;
    }
    @include media(350px) {
        font-size: 3.4rem;
    }
    &__about{
        font-family: $text-ff;
        font-size: 2.4rem;
        color:  $secondary-color;
        }
    &--right{
        color: $dark-gray;
    }
    &--center{
        text-align: center;
    }
    &--works{
        text-align: right;

    }
    
    &--star{
        color: $dark-gray;
        @include media(576px) {
            margin: 50px auto;
        }
    }
    &--speech{
        color: $secondary-color;
        text-align: center;
    }
    &--mini{
        color: $text-color;
        text-align: center;
    }
    
}
.box{   
    display: flex;
    align-items: center;
    
    &--rigth{
        justify-content: flex-end;
        min-height: 90vh;
    } 
    &__info{
        justify-content: flex-end;
        color: $dark-gray;
        max-width: 50%;  
        @include media(576px) {
            max-width: 90%;
    
        }
    }
    &__item{
        max-width: 35vw;  
        @include media(990px) {
            max-width: 50vw;
        }
        @include media(760px) {
            max-width: 100%;
        }   
    }
    
    &--center{
        justify-content: center;
        align-items: center;
        margin: 20px 0 50px;
        
    }
}
.blockquote{
    position: relative;
    padding: 10px 20px;
    margin: 10px 40px;    
    text-align: left;
}
.blockquote:before,
.blockquote:after {
    position: absolute;
    color: $secondary-color;
    font-size: 10rem;
    font-family: $text-ff;    
}
.blockquote:before {
    content: '“';
    left: -30px;
    top: -5px;
}
.blockquote:after {
    content: '”';
    right: -10px;
    bottom: -1px;
}
.blockquote cite {
    color: $secondary-color;
    font-size: 1.6rem;
    padding-top: 10px;
    display: block;
}

.adr{
    
    position: relative;
}
#map{
    margin: 50px auto;
    height: 500px;
    width: 98vw;
    @include media(990px) {
        width: 90vw;
    }
    @include media(576px) {
        width: 95vw;
        height: 100vh;
    }

}
.adress{
    position: absolute;
    left: 10px;
    top: 50px;    
    font-family: $title-ff;
    font-size: 1.8rem;
    line-height: 1.6;
    background-color: #fff;
    margin: 10px 5px;
    padding: 15px;
    border-radius: 2px; 
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; 
    max-width: 200px;
    
    a{
        font-weight: 700;
        text-decoration: none;
        color: $dark-gray;
        @include hover{
            color: $title-color;
            transition: all .3s ease-in-out;
        }
    }
    
}
.swiper-container {
    width: 60vw;
    height: 85vh;
    @include media(768px) {
        width: 100%;
    }
}
:root{
    --swiper-theme-color: #ffd966;
    --swiper-navigation-size: 85px;

}


.swiper-slide {
    text-align: center;
    font-size: 2.4rem;
    background: transparent;
    padding: 0 100px;
    @include media(576px) {
        padding: 0;
        margin: 0;
    }

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper-button-next{
    transition: all .2s ease-in-out;
    @include media(576px) {
        display: none;        
    }
}
.swiper-button-prev{
    transition: all .2s ease-in-out;
    @include media(576px) {
        display: none;        
    }
}
.swiper-button-next:hover{
      transform:scale(1.2);
      transition: all .3s ease-in-out;

  }
.swiper-button-prev:hover{
    transform:scale(1.2);
    transition: all .3s ease-in-out;

}
.swiper-pagination-bullet{
    background-image: url(../img/tabel1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 0%;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    background-image: url(../img/tabel2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: $secondary-color;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction
.span-slider{
    bottom: -3px;
    left: 0;
    width: 100%;
}
.spheres{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.sphere{
    margin: 5px 15px;
    padding: 5px;
    transition: all .3s ease-in-out;
    text-align: center;
    width: 30%;
    @include media(576px) {
            width: 100%;
            }
        &__cap{
        font-size: 2.3rem;
        width: 90%;
        text-align: center;
        @include media(992px) {
            font-size: 2rem;
            
        }
    }
    
    @include hover{
        transform: scale(1.2);
        cursor: pointer;
        transition: all .3s ease-in-out;

    }
    a{
        text-decoration: none;
        color: $dark-gray;
    }

}
.stars{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include media(576px) {
        grid-template-columns: 1fr;
        
    }
    
}

.star{
    text-align: center;
    margin: 10px;
    background-image: url(../img/star2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    &--right{
        background-image: url(../img/star1.png);

    }
    
    &__text{
        font-size: 1.6rem;
        font-family: $text-ff;
    }
    &__cap{
        font-size: 3.2rem;
        color: $secondary-color;
    }
    &__text{
        font-size: 2rem;
        padding: 20px;
    }
    
}

.wrapper {
    display: grid;    
    font-size: 1.5rem;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    outline: solid 2px $dark-gray;
    &__item{
        display: flex;
        outline: solid 1px $dark-gray;
        padding: 3px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url(../img/tabel2.png);        
        background-repeat: no-repeat;
        background-size: auto, auto;
        background-position: center;
        transition: all .3s ease-in-out;
        &--bg{
        background-image: url(../img/tabel1.png);
        }
        @include hover{
            transform: scale(1.2);
            cursor: pointer;
            outline-color: transparent;
            transition: all .25s ease-in-out;

        }
    }
  }
  .people{
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

  .person{
    padding: 20px 0;
    text-align: center;
    width: 270px;    
    &__name{
        font-size: 3.8rem;
        margin: 10px;
        padding: 5px;        
    }    
    &__text{
        font-size: 2rem;
        font-family: $text-ff;
        padding: 15px;
    }
    &__img{
        
        width: 100%;
        padding-top: 100%;
        position: relative;
        overflow: hidden;
        margin: 0 auto;
        border-radius: 50%;
        img{
            outline: 1px solid orange;
            min-width: 100%;
            min-height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &__bg{
        background-image: url(../img/section4.png);
        background-size: cover;
        background-repeat: no-repeat;
        max-height: 166px;
        max-width:  294px;
        transform: translate(0, -70px);
    }
}
.speech{
    background-image: url(../img/adress.png);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 542px;
    width: 40%;
    color: $secondary-color;
    @include media(992px) {
        width: 50%;
        background-size: cover;

    }
    @include media(576px) {
        width: 90%;
        background-size: cover;

    }
    &--mini{
        background-image: url(../img/adress2.png);
        color: $text-color;
    }
    &__text{
        margin: 20px;
        padding: 15px;
        font-size: 2rem;
        font-family: $text-ff;
        line-height: 1.5;
    }
    
}
.back{
    display: flex;
    justify-content: space-between;
    &__a{
        text-decoration: none;
        color: $primery-color;
        font-size: 3rem;
        text-align: right;
        display: block;
        margin: 10px;
        @include hover{
            color: $dark-gray;
        }
    
    }

}